
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a routerLink="/admin/dashboard" class="navbar-brand">Home</a>
    </div>
    <div>
    
        <ul class="navbar-nav ne-auto mb-2 md-mb-0 " >
            <li class="nav-item">
                <a routerLink="/admin/users" class="navbar-brand">Users</a>
            </li>
            <li class="nav-item">
                <a routerLink="/admin" (click)="logout()" class="navbar-brand">Logout</a>
            </li>
        </ul>
    </div>
</nav>