<app-admin-nav></app-admin-nav>
<div class="login-box">
    <p>Create User</p>
    <form [formGroup]="form" (submit)="submit()">
        <div class="user-box">
            <input required=""formControlName=name name="name" type="text">
            <label>Name</label>
          </div>
      <div class="user-box">
        <input required="" formControlName="email" name="email" type="email">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input required="" formControlName="password" name="password" type="password">
        <label>Password</label>
      </div>
    <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
  </div>